
.slider-container {
    z-index: 12;
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.small-container {
    width: 100%;
    flex-shrink: 4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.big-container {
    width: 100%;
    flex-shrink: 2;
    overflow: hidden;
}

.small-img {
    height: 14em;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: #22577A solid 1px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.big-img {
    height: 29em;
    position: relative;
    border: #22577A solid 1px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.small-img img {
    position: absolute;
    max-width: 100%;
    top: 46%;
    left: 0;
    transform: translateY(-45%);
}

.big-img img {
    position: absolute;
    max-width: 100%;
    top: 46%;
    left: 0;
    transform: translateY(-45%);
}

.details-title {
    font-weight: 600;
}