.modal {
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-form {
    background-color: #fefefe;
    margin: 8% auto; 
    padding: 4em;
    border: 1px solid #888;
    width: 60%; 
    border-radius: 3em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.modal-form section {
    display: flex;
    flex-direction: column;
}

.modal-form .date-section {
    display: flex;
    flex-direction: row;
    gap: 2em;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin: 5em 41.2em;
    z-index: 200;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-text-box {
    height: 2.5em;
    box-sizing: border-box;
    width: 50%;
    min-width: 20em;
    border: #22577A solid 1px;
    padding-left: 0.5em;
}

.modal-date-box {
    height: 2.5em;
    box-sizing: border-box;
    /* width: 24%; */
    width: 9em;
    border: #22577A solid 1px;
    padding-left: 0.5em;
}

textarea:focus, input:focus{
    outline: none;
    border: #22577A solid 1px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.modal-select {
    padding: 0 0.7em 0 0.7em;
    font-size: 16px;
    height: 2.5em;
}

.modal-title {
    margin: 0;
    font-weight: 600;
}

.modal-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-bottom: 0;
    z-index: 10;
}

.modal-link:after {
    content: '';
    position: absolute;
    width: 6em;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 8px;
    left: 0em;
    bottom: 0em;
    background-color: #22577A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#register-link:after {
    width: 8.2em;
}

.modal-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}