* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    /* background-color: #f4f4f4; */

    background: rgb(219,219,219);
    background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(244,244,244,1) 10%, rgba(244,244,244,1) 90%, rgba(219,219,219,1) 100%);
}

*, *:before, *:after{
    box-sizing: inherit;
}